# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# The entire build folder lmao gottem
bin/
build/

# Everything vscode-setting related
.vscode/*

# All weird windows build stuff
*.pdb

# Skip uploading the old library
src/lib_old